/*Custom Style*/

.bg-1{
	background-color: #ffa64d; /* orange */
	color: #ffffff;
}

.bg-2 {
    color: #ffa64d;
}

.bg-3 {
    background-color: #ffffff;
    color: #ffa64d;
}

.padding-90 {
    padding-top: 90px;
    padding-bottom: 90px;
}

.table-custom {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
}


@media screen and (max-width: 768px) {
    .col-sm-10 {
      text-align: center;
    }
}
