/*Custom Style*/


/*************

BUTTONS 

*************/

.btn_index{
	font-family: Sans-serif;
    height: 3.5em;
    width: 9em;
    text-align: center;
    border: 0;
	font-size: 2.5em;
	font-weight: bold;
	-webkit-border-radius:60px;
	-moz-border-radius:60px;
	border-radius:60px;
}

.btn_submit{
	font-family: Sans-serif;
    height: 3em;
    width: 7em;
    text-align: center;
    border: 0;
	font-size: 3em;
	font-weight: bold;
	background-color: #ffa64d; /* orange */
	color: #ffffff;
	-webkit-border-radius:60px;
	-moz-border-radius:60px;
	border-radius:60px;
}

.btn_submit:hover{
	color: #ffffff;
}

.btn_lost{
	background-color: #ffa64d; /* orange */
	color: #ffffff;
}

.btn_lost:hover{
	color: #ffffff;
}

.btn_container{
	position: absolute;
	bottom: 10%;
	left: 19%;
}

.btn_found{
	background-color: #ffffff;
    color: #ffa64d;
}

.btn_found:hover{
    color: #ffa64d;
}


/*************

BACKGROUND 

*************/

.bg-1{
	background-color: #ffa64d; /* orange */
	color: #ffffff;
	height: 50vh;
	vertical-align: center;
	margin: auto;
	padding: auto;
}

.bg-2 {
    color: #ffa64d;
	height: 50vh;
	vertical-align: center;
	margin-top: auto;
	padding: auto;
}

.bg_color{
	background-color: #ffa64d; /* orange */
	color: #ffffff;
}

.bg_no_color{
	background-color: #ffffff; /* orange */
	color: #ffa64d;
}

/*************

TEXTS 

*************/

.credits{
	position: relative;
	top: 30%;
	font-family: Sans-serif;
	font-size: 3em;
}

.description_cont{
	margin-top: 15%;
}

.contact_info{
	height: 10em;
}

.form_header{
	color: #ffa64d;
}

.found_item{
	
}

/*************

PADDING 

*************/

.margin_top_50{
	margin-top: 50px;
}

.padding-90 {
    padding-top: 33%;
}

.padding-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.table-custom {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
}

.padding-top-70 {
    padding-top: 70px;
}

.padding-top-30 {
    padding-top: 30px;
}

.padding-right {
    padding-right: 90px;
}

.glyphicon-custom {
    font-size: 80px;
}

@media screen and (max-width: 768px) {
    .col-sm-10 {
      text-align: center;
    }
}

.form-horizontal .control-label {
	text-align: right;
	padding-top: 6px;
}