/*Custom Style*/

body{
	font-size:130%;
	background-color:#f9f9f9;
}

h3{
	font-size:2.3em;
}


/*************

BUTTONS 

*************/

.btn_index{
	font-family: "Tahoma", Sans-serif;
    height: 3.5em;
    width: 9em;
    text-align: center;
    border: 0;
	font-size: 2.5em;
	font-weight: bold;
	-webkit-border-radius:14px;
	-moz-border-radius:14px;
	border-radius:14px;
}

.btn_submit{
	font-family: "Tahoma", Sans-serif;
    height: 2.5em;
    text-align: center;
    border: 0;
	font-size: 2.3em;
	font-weight: bold;
	background-color: #FFC000; /* orange */
	color: #ffffff;
	-webkit-border-radius:14px;
	-moz-border-radius:14px;
	border-radius:14px;
	margin-left: -4px;
}

.no_left_margin{
	margin-left: 0px !important;
}

.btn_submit:hover{
	color: #ffffff;
}

.btn_lost{
	background-color: #FFC000; /* orange */
	color: #ffffff;
}

.btn_lost:hover{
	color: #ffffff;
}

.btn_container {
	position: fixed;
	top: 700px;
	left: 0;
}

.btn_found{
	background-color: #ffffff;
    color: #ffa64d;
}

.btn_found:hover{
    color: #ffa64d;
}


/*************

BACKGROUND 

*************/

.bg-1{
	background-color: #FFC000; /* orange */
	color: #ffffff;
	height: 50vh;
	vertical-align: center;
	margin: auto;
	padding: auto;
}

.bg-2 {
    color: #FFC000;
	height: 50vh;
	vertical-align: center;
	margin-top: auto;
	padding: auto;
}

.bg_color{
	background-color: #FFC000; /* orange */
	color: #ffffff;
}

.bg_no_color{
	background-color: #f9f9f9;
	color: #FFC000;
}

/*************

FORM INPUT 

*************/

.form_box{
	height: 2.3em;
	font-size: 1.8em;
	margin:-5px;
	font-family: "Tahoma", Sans-serif;
}


/*************

TEXTS 

*************/

.serif_georgia{
	font-family: "Georgia";
}

.sans_serif_tahoma{
	font-family: "Tahoma";
}

.credits{
	position: relative;
	top: 18%;
	font-family: "Georgia", serif;
	font-size: 3em;
	margin-bottom: 50px;
	
}

.description_cont{
	margin-top: 15%;
}

.contact_info{
	height: 10em;
}

.form_header{
	color: #FFC000;
	font-family: "Georgia", serif;
	font-weight: bold;
	margin-bottom: 20px;
	font-size: 2.24em;
}

.found_item_desc{
	font-size: 1.3em;
	font-weight: bold;
	font-family: "Georgia", serif;
}

.found_item_place{
	font-size: 1.3em;
}

.jumbotron-custom {
    border-style: solid;
    border-color: #71CD71;
}

.navi_txt{
	font-weight: bold;
	font-family: "Tahoma", Sans-serif;
	margin-bottom: 20px;

}

/*************

PADDING 

*************/

.margin_top_50{
	margin-top: 50px;
}

.padding-90 {
    padding-top: 33%;
}

.padding-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.table-custom {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-top-70 {
    padding-top: 70px;
}

.padding-top-30 {
    padding-top: 30px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-right {
    padding-right: 90px;
}

.margin-left-20 {
    margin-left: 20px
}

.margin-right-left {
    margin-right: 20px;
    margin-left: 20px;
}

.margin-top-10 {
    margin-top: 10px;
}

.glyphicon-custom {
    font-size: 80px;
}

@media screen and (max-width: 768px) {
    .col-sm-10 {
      text-align: center;
    }
}

.form-horizontal .control-label {
	text-align: right;
	padding-top: 6px;
}


/*************

FOUND (green) 

*************/

.green_bg{
	background-color: #70AD47; 	
	color: #ffffff;
}

.green_text{
	color: #70AD47; 	
}

/*************

INDEX (b) 

*************/

.index_found{
	color: #5B9BD5;
}

.index_found:hover{
	color: #5B9BD5;
}

.index_lost{
	background-color: #5B9BD5;
}


.index_bg{
	background-color: #5B9BD5;
}
